.App {
  text-align: center;
}

.title {
  font-size: 15px;
}

.username {
  width: 10%;
  
}

.form {
  margin-top: 25px;
}

button {
  background-color: #7d8586;
  color: white;
  padding: 10px 60px;
  border-radius: 8px;
  text-align: center;
  font-size: 15px;
  margin: 15px 2px;
}
